@model OnlineShopping.DAL.Tbl_Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

    <div class="rightpart">
        <div class="container-fluid">
            <!-- Breadcrumbs-->

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Product Details</li>

            </ol>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                  Product Details
                    <div class="card-body">
                        <div class="table-responsive dashTable" id="rootId">
                            <table class="table table-bordered" id="dataTable tblId" width="100%" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th>Product Name</th>
                                        <td>@Model.ProductName</td>
                                    </tr>
                                    <tr>
                                        <th>Category Name</th>
                                        <td>@Model.Tbl_Category.CategoryName</td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>@Model.Price</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>@Html.Raw(Model.Description)</td>
                                    </tr>
                                    <tr>
                                        <th>Is Active</th>
                                        <td>@(Model.IsActive == true ? "Yes" : "No")</td>
                                    </tr>
                                    <tr>
                                        <th>Is Featured</th>
                                        <td>@(Model.IsFeatured == true ? "Yes" : "No")</td>
                                    </tr>


                                
                                <tr>
                                    <th>Image</th>
                                    <td>
                                        @if (Model.ProductImage != null && Model.ProductImage != "")
                                        {
                                            <img src="@(Path.Combine(System.Configuration.ConfigurationManager.AppSettings["ProductImage"], "Large/", Model.ProductId + "_" + Model.ProductImage))" alt="" id="ImgProfServiceBanner" />
                                        }
                                        else
                                        {
                                            <img src="/images/No Photo.png" alt="" id="ImgProfServiceBanner" />
                                        }
                                    </td>
                                </tr>
</tbody>
                            </table>
                        </div>
                    </div>
